<body>
    <!-- update the header -->
    <h1>Edit <%= fruit.name %></h1>
    <form action="/fruits/<%= fruit._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= fruit.name %>" required />

        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <% if (fruit.isReadyToEat) { %>checked<% } %> />

        <!-- update the button text -->
        <button type="submit">Update Fruit</button>
    </form>
    <a href="/fruits">Back to Fruits</a>
</body>

