<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
 <body>
    <h1>All Fruits</h1>
    <ul>
      <% fruits.forEach(fruit => { %>
        <li><%= fruit.name %></li>
      <% }); %>
    </ul>
  </body>
  
  
  </body>
</html>
