<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Index</title>
  </head>
<!-- views/fruits/index.ejs -->

<!-- views/fruits/index.ejs -->

<body>
    <h1>All Fruits</h1>
    <ul>
      <% fruits.forEach(fruit => { %>
        <li>
          <a href="/fruits/<%= fruit._id %>"> <%= fruit.name %> </a>
        </li>
      <% }); %>
    </ul>
  </body>
  

</html>
